<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Search users page result - Bootdey.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link href="app.component.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container" ng-app ng-controller="Ctrl">

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="search-bar-container">
          <!-- Row for input and button -->
          <form>
            <div class="row">
              <div class="col-xs-8 col-sm-10"> <!-- Adjust column sizes for responsiveness -->
                <input type="text" class="form-control" placeholder="Search..." #key="ngModel" ngModel name="key" id="searchName">
              </div>
              <div class="col-xs-4 col-sm-2"> <!-- Adjust column sizes for the button -->
                <button type="button" class="btn btn-search btn-block" on-click="search(key.value, 0)">Search</button>
              </div>
            </div>
            <!-- Row for dropdown, below input and button -->
            <div class="row" style="margin-top: 10px;"> <!-- Add some top margin for spacing -->
              <div class="col-xs-12">
                <select class="form-control dropdown-minimal-width"   name="minPublishTimeStr" id="minPublishTimeStr" >>
                  <option value="Any time"   id="anytime"   on-click="setMinPublishTimeStr('Any time')" selected>Any time</option>
                  <option value="Last year" on-click="setMinPublishTimeStr('Last year')">Last year</option>
                  <option value="Last week" on-click="setMinPublishTimeStr('Last week')">Last week</option>
                  <option value="Last day" on-click="setMinPublishTimeStr('Last day')">Last day</option>
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="row ng-scope">
    <div class="col-md-8 col-md-push-2">
      <p class="search-results-count">{{getSearchResultsCountText()}}</p>
      <section *ngFor="let article of searchResponse?.hits" class="search-result-item">
        <a class="image-link" href="{{article?.url}}" target="_blank"><img class="image" height="250px" width="400px" src="{{article?.image}}">
        </a>
        <div class="search-result-item-body">
          <div class="row">
            <div class="col-sm-9">
              <h4 class="search-result-item-heading"><a href="{{article?.url}}" target="_blank">{{article?.title}}</a></h4>
              <p class="info">{{article?.date?.substring(8, 10) + "/" + article?.date?.substring(5, 7) + "/" + article?.date?.substring(0, 4) + " " + article?.date?.substring(11, 16)}}</p>
              <p class="description">{{article?.summary?.replaceAll(" .", ".")}}</p>
            </div>
          </div>
          <div class="like-dislike-container">
            <span class="fa fa-thumbs-up {{getThumbsUpStatusClass(article?.article_id)}}" on-click="thumbsUpClick(article?.article_id)"></span>
            <span class="fa fa-thumbs-down {{getThumbsDownStatusClass(article?.article_id)}}" on-click="thumbsDownClick(article?.article_id)"></span>
          </div>
        </div>

      </section>

      <div class="text-align-center">
        <ul *ngFor="let page of getPages()" class="pagination pagination-sm">
          <li class="{{getPageClassString(page)}}"><a href="#" on-click="search(lastSearchQuery, page.pageIdx)">{{page.text}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>
